%html
  %head
    %title Checkout - E-shop
  %body
    %h1 Checkout - E-shop
    %p Hi #{@username}
    %p
      You have #{@items_in_cart} items in your cart, please login to continue
    %ul
      %li
        %a{:href => "/login"} Pay
